.donate-now {
  list-style-type: none;
  margin: 25px 0 0 0;
  padding: 0;
  display: flex;;
}

.donate-now h1{
  font-size: 33px;
    margin: 0;
    font-weight: 700;
}
.donate-now label h2{
 font-size: 16px;
    font-weight: 600;
    color: #636363;
    margin-top: 27px;
}
.donate-now h3{
  font-size: 24px;
  font-weight: 700;
}
.donate-now h4{
 font-size: 18px;
 font-weight: 700;
}
.donate-now h5{
     font-size: 16px;
    font-weight: 600;
    color: #636363;
}

.donate-now li {
 float: left;
    margin: 0 5px 0 0;
    width: 50%;
    height: 126px;
    position: relative;
    text-align: center;
}

.donate-now label,
.donate-now input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.donate-now input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
}

.donate-now input[type="radio"]:checked+label,
.Checked+label {
  background: #fecc00;
  color: #fff;
}

.donate-now label {
  padding: 5px;
  border: 1px solid #CCC;
  cursor: pointer;
  z-index: 90;
}

.donate-now label:hover {
  background: #f07d00;
}